@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
  --cl--white: hsl(0, 0%, 98%);
  --cl--gray: hsl(0, 0%, 41%);
  --cl--black: hsl(0, 0%, 8%);

  --font: 'Epilogue', sans-serif;

  --fw--500: 500;
  --fw--700: 700;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  position: relative;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.open-body{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1s;
    background-color: hsla(0, 0%, 8%, 0.5);
    transition: all .3s linear;
   
}

.navbar {
  padding: 25px;
  display: flex;
  align-items: center;
}

.hamburguer-button {
  position: fixed;
  top: 25px;
  right: 1rem;
  z-index: 2;
  cursor: pointer;
}

.icon-close {
  display: none;
}

.navbar-list {
  position: fixed;
  top: 0;
  right: 0;
  width: 65vw;
  height: 100vh;
  background: white;
  transform: translateX(100%);
  transition: all .3s ease-in;
  display: flex;
  text-align: left;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.none {
  display: none;
}

.block {
  display: block;
}

.nav-open {
  transform: translateX(0%);
}

.nav-links {
  margin-top: 5rem;
  list-style: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

}

.nav-links li a {
  text-decoration: none;
  font-family: var(--font);
  color: var(--cl--gray);
  font-size: 1.2rem;
}

.buttons-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
}

.buttons-nav .button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-family: var(--font);
  color: var(--cl--gray);
}

.button[data-type="register"] {
  border: 2px solid var(--cl--gray);
  padding: 10px 2rem;
  border-radius: 2rem;
}

.drop-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dropdown-features {
  display: none;
  /*  border: 2px solid rebeccapurple; */
  width: max-content;
  list-style: none;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.dropdown-features li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.open {
  display: flex;
}

.open-arrow {
  transform: rotate(-180deg);
}

.container {
  --max-width: 1440px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 3rem;
  margin-bottom: 4rem;
}
.hero-content h1{
  font-family: var(--font);
  font-weight: var(--fw--700);
  font-size:clamp(2rem,5vw,5rem);
}
.hero-content p{
  font-size: 1.2rem;
  font-family: var(--font);
  font-weight: var(--fw--500);
  color: var(--cl--gray);
  line-height: 2rem;
  max-width: 30vw;
}
.button-hero{
  border: none;
  cursor: pointer;
  background-color: var(--cl--black);
  font-size: 1.2rem;
  color: var(--cl--white);
  font-family: var(--font);
  padding: .875rem 1.5rem;
  border-radius: 1rem;
  transition: ease-in .2s;
}
.button-hero:hover,
.button-hero:focus-visible{
  color: var(--cl--black);
  background-color: transparent;
  border: 2px solid var(--cl--black);
}

:where(.flow :not(:first-child)){
  margin-top: 2.5rem;
}
.image-hero{
  max-width: 50vh;
}
.logos-flex{
  display: flex;
  align-items: center;
  max-width: 600px;
  justify-content: space-between;
  
}
.logos-flex .fc{
  margin-top: 2.5rem;
}

@media(min-width:55em) {
  .navbar-list {
    position: relative;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: translateX(0%);
  }

  .hamburguer-button {
    display: none;
  }

  .nav-links {
    margin-top: 0px;
    flex-direction: row;
    position: relative;
  }

  .buttons-nav {
    flex-direction: row;
    align-items: center;
    width: auto;
  }

  .navbar {
    gap: 2rem;
    --max-width: 1440px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
  }

  .nav-links li a {
    font-size: 1rem;
  }

  .dropdown-features {
    background-color: var(--cl--white);
    position: absolute;
    top: 3rem;
    right: 18rem;
    gap: 1rem;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
  }

  .dropdown-features[data-type="company"] {
    right: 11rem;
  }
}
@media(max-width:55em) {
  .container{
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 3rem;
  }
  .hero-content{
    order: 1;
  }
  .hero-content h1{
    font-size: 3re;
  }
  .hero-content p{
    max-width: 100%;
  }
  .image-hero{
    max-width: 100%;
    order: 2;
  }
}